<div class="ar-ex-lazy-scrollable-list">
	<h3>Lazy scrollable list with auto scroll</h3>

	<ar-lazy-scrollable-list
	[items]="lazyProductService.items$ | async" 
	[hasMore]="lazyProductService.hasMore$ | async"
	[scrollHeight]="'250px'" 
	(loadMore)="onLoadMore()">

		<ng-template let-item let-isSelected="isSelected">
			<div [attr.title]="isSelected ? 'click to close' : 'click to open' ">
				<span>{{ item.name }} - </span>

				<span [ngClass]="{ emptyStock: item.stock === 0}" >stock: {{ item.stock }}</span>
				<div class="ar-list-item-opened" *ngIf="isSelected">
					<div class="emptyStock" *ngIf="item.stock===0">Sadly this item is out of stock</div>
					<div>{{ item.description }}</div>
				</div>
			</div>
		</ng-template>
	</ar-lazy-scrollable-list>
	<label class="loading-label" *ngIf="isLoading">Loading...</label>

	<h3>Lazy scrollable list with manual load button at end</h3>

	 <ar-lazy-scrollable-list
		[items]="lazyProductService.items$ | async" 
		[hasMore]="lazyProductService.hasMore$ | async"
		[scrollHeight]="'250px'"
		[autoScroll]=false
		(loadMore)="onLoadMore()">

		<ng-template let-item let-isSelected="isSelected">
			<div [attr.title]="isSelected ? 'click to close' : 'click to open' ">
				<span>{{ item.name }} - </span>

				<span [ngClass]="{ emptyStock: item.stock === 0}" >stock: {{ item.stock }}</span>
				<div class="ar-list-item-opened" *ngIf="isSelected">
					<div class="emptyStock" *ngIf="item.stock===0">Sadly this item is out of stock</div>
					<div>{{ item.description }}</div>
				</div>
			</div>
		</ng-template>
	</ar-lazy-scrollable-list>
	<label class="loading-label" *ngIf="isLoading">Loading...</label>
</div>