$border-color: #888;

.ar-ex-list {
	user-select: none;

	/deep/ .ar-list {
		border: 1px $border-color solid;
		background-color: white;

		.ar-list-item {
			&:not(:last-child) {
				border-bottom: 1px $border-color solid;
			}

			background-color: white;
			padding: 5px 10px;
			box-shadow: 2px 2px 2px $border-color;
			cursor: pointer;
		}

		.selected {
			font-weight: bold;
			background: #fffacb;
		}

		.ar-list-item-opened {
			padding: 5px 10px;
			background-color: rgba( 255, 255, 255, 0.7 );
			font-weight: normal;
			border: 1px solid #ccc;
			margin: 5px 0;
		}

		.ar-list-empty-placeholder {
			color: #888;
		}
	}

	.emptyStock {
		color: #be0000;
		font-weight: bold;
	}
}




